<div class="jumbotron"  >
  <form name="loginForm" data-validate="parsley" id="loginForm">
  <div class="input-group">
    <span class="input-group-addon">Username</span>
    <input type="text" class="form-control" name="Username" id="login-username" placeholder="Username" data-required="true" data-notblank="true">
  </div>
  <br/>
  <div class="input-group">
    <span class="input-group-addon">Password</span>
    <input type="password" class="form-control" autocorrect="off" autocapitalize="off" name="password" id="login-password" 
    placeholder="Password" data-required="true" data-notblank="true" data-rangelength="[2,25]">
  </div>
  <br/>
   <button type="submit" id="login-btn" class="btn btn-default" data-bypass>Login</button>
 </form>
</div>
